body {
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    margin: auto;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration-color: #fff;
    position: relative;
}

nav a {
    color: #fff;
    text-decoration: solid;
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
}

.ph {
    text-align: center;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    /* Adjust margin-top to center vertically */
}

.container {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    position: relative;
    text-align: center;
    /* Center text */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.open-button:hover {
    background-color: #1b1b1b;
}