body {
    font-family: 'Times New Roman', Times, serif;
    /* Change font family */
    background-color: #f0f0f0;
    margin: auto;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    /* Change font color to white */
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration-color: #fff;
    position: relative;
}

nav a {
    color: #fff;
    text-decoration: solid;
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    /* Change font family */
}